.DS_Store
.idea
pytorch-tutorial/introduction-to-pytorch/data
pytorch-tutorial/introduction-to-pytorch-on-youtube/data
pytorch-tutorial/introduction-to-pytorch-on-youtube/runs
pytorch-tutorial/cifar10/data
